*{
  padding: 0px;
  margin: auto;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Caladea", serif; 
  /*margin: auto;*/
 }
  
  ul li{
    list-style: none;
  }

  .card-ul{
    display: flex;
    margin: 10px;
  }

  .card-ul li{
    margin: 10px;
  }

 .card-thumbnail{
   display: flex;
 }

 .card-thumbnail a{
  text-decoration: none;
  color: #1d1d45;
 }

 .card-desc{
    display: flex;
    
  }

 .card-desc button{
    gap: 8px;
    border: none;
    border-radius: 47px;
    background: rgba(127, 86, 217, 1);
    color: white;
    width: 100px;
    height: 45px;
    padding: 16px, 28px, 16px, 28px;
 }

 .card-banner{
    text-align: center;
    width: 1411px;
    height: 130px;
    margin: -5px;
 }

 .card-text{
  text-align: center;
 }

 .card-orangered{
    color: rgba(239, 103, 13, 1);
 }

 .card-purple{
    color: rgba(127, 86, 217, 1);
 }

 .card-text-purpe{
   color: rgba(126, 126, 170, 1);
   text-align: center;
   height: 100px;
 }

 .card-button{
   text-align: center;
 }

 .card-button-orangered{
   border: none;
   background: rgba(255, 105, 5, 1);
   color: rgba(255, 255, 255, 1);
   width: 150px;
   height: 60px;
   border-radius: 40px;
 }

 .card-button-purple{
   border: none;
   background: rgba(127, 86, 217, 1);
   color: rgba(255, 255, 255, 1);
   width: 150px;
   height: 60px;
   border-radius: 40px;
 }

 .card-avatar-img{
  display: flex; 
  flex-wrap: wrap;
 }

 .card-quote{
   color: rgba(127, 86, 217, 1);
 }

 .card-btg{
   color: rgba(126, 126, 170, 1);
   margin: 20px;
 }

 .card-avatar{
   list-style: none;
 }

 .card-avatar-image{
  list-style: none;
  display: flex; 
  flex-wrap: wrap;
 }


 .feed-wrapper {
  width: 520px;
  height: 455px;
  background-color: #fff;
  border-radius: 30px;
  padding: 32px;
}

.user {
  display: flex;
  align-items: center;
  gap: 35px;
}

.username {
  color: #1d1d45;
  font-size: 28px;
  font-weight: bold;
}
 .feed-content {
  color: #7e7eaa;
  font-size: 22px;
  padding-bottom: 56px;
  padding-top: 26px;
}

.feed-back {
  display: flex;
  gap: 24px;
  margin-top: 56px;
}
 .lesson {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lesson-info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.lesson-text {
  font-size: 16px;
  font-weight: 600;
}


 footer {
  background-color: #7f56d9;
  color: #fff;
  height: 250px;
}

.footer {
  padding: 80px 0;
  display: flex;
  justify-content: space-evenly;
}

.inner{
  display: flex;
}

.inner-box-logo{
  display: flex;
  margin: 20px;
  width: 60px;
  height: 50px;
}

.inner-box-text{
  margin: 20px;
  width: 380px;
  height: 105px;
}

.click ul li{
  list-style: none;
  margin: 5px;
}

.click-text{
  margin: 20px;
  text-align: center;
  width: 136px;
  height: 24px;
}

.inner-click-link{
  display: flex;
  width: 150px;
  height: 40px;
}

.link-text{
  margin: 30px;
}

.link-click-inner{
  margin: 10px;
  width: 649.94px;
  height: 100px;
}

.link-email{
  max-width: 1700px;
  max-height: 700px;
 /* width: 700px;
  height: 700px;
  */
  margin: 25px;
}

.link-click-image{
  width: 15px;
  height: 15px;
  
}

.btg-text{
  margin: 10px;
}

